---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Typography
$brand-font-family:
  "Grab Community Solid EN", "Inter", Helvetica, Arial, sans-serif;
$base-font-family: "Inter", Helvetica, Arial, sans-serif;
$mono-font-family:
  "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

// Font size
$base-font-size: 18px;
$giant-font-size: 48px;
$large-font-size: $base-font-size * 1.25;
$small-font-size: $base-font-size * 0.875;
$tiny-font-size: $base-font-size * 0.75;
$base-line-height: 1.5;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$spacing-unit: 16px;
$page-container-max-width: 1080px;

$text-color: #242a2e;
$background-color: #fff;

$brand-primary-color: #00b14f;
$brand-primary-hover-color: #009141;
$brand-dark-color: #002e27;
$brand-dark-hover-color: #00493e;
$brand-secondary-color: #136fd8;
$brand-warm-surface-color: #f8f3ec;
$brand-light-surface-color: #f5f5f5;

$grey-color: #6b7280;
$grey-color-light: #e5e9f0;
$grey-color-dark: #383e43;
$grey-color-darker: #242a2e;

$on-palm: 768px;
$on-laptop: 1024px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins", "fonts", "bootstrap-overrides", "base", "layout", "header",
  "footer", "tags", "social-media-list", "sharing-links", "syntax-highlighting",
  "videos", "back-to-top-btn";
