@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 300;
  src: url("../fonts/SanomatSans-Light-Web.woff"); }
@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 400;
  src: url("../fonts/SanomatSans-Regular-Web.woff"); }
@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 700;
  src: url("../fonts/SanomatSans-Medium-Web.woff"); }
.btn {
  background: none;
  border: 1px solid #00b140;
  color: #00b140;
  border-radius: 3px;
  font-weight: 400; }
  .btn:hover {
    background-color: #00b140;
    color: #fff; }

.carousel-control {
  color: #00b140; }
  .carousel-control:hover {
    color: #00b140; }
  .carousel-control.left, .carousel-control.right {
    background: none; }

/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
* Basic styling
*/
body {
  font-family: "Sanomat Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle; }

/**
* Figures
*/
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/**
* Lists
*/
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.35; }

/**
* Links
*/
a {
  color: #00b140;
  transition: color .3s;
  text-decoration: none; }
  a:hover {
    color: #111;
    text-decoration: none; }

/**
* Blockquotes
*/
blockquote {
  color: #898d97;
  border-left: 4px solid #ccd6dd;
  padding-left: 15px;
  font-size: 18px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
* Code formatting
*/
pre,
code {
  color: #1e1e1e;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8; }

code {
  padding: 2px 7px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
* Clearfix
*/
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
* Icons
*/
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #898d97; }

/**
* Credits
*/
.credits {
  color: #898d97;
  font-style: italic;
  font-size: 15.75px; }

html,
body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

/**
* Page content
*/
.page-content {
  flex: 1;
  padding: 30px 0; }

.page-heading {
  font-size: 36px;
  margin: 30px 0; }

/**
* Posts List
*/
.post-list {
  font-size: 18px;
  line-height: 1.5;
  list-style: none;
  margin-left: 0; }
  .post-list > li {
    margin: 50px auto;
    padding-bottom: 50px; }
    .post-list > li:not(:last-child) {
      border-bottom: 1px solid #ccd6dd; }
    .post-list > li:first-child {
      margin: 25px auto; }
  .post-list .post-author-thumbnail {
    margin-top: -24px; }
  .post-list .cover-photo {
    margin: 0 0 15px 0; }

.post-meta-container {
  display: inline-block; }

.post-meta {
  color: #898d97;
  display: block;
  font-weight: 300;
  text-align: center; }

.post-tags {
  margin-top: 10px; }

.post-author {
  display: block;
  font-size: 15.75px;
  padding-top: 5px; }

.post-date {
  color: #898d97;
  display: block;
  font-size: 13.5px; }

.post-link {
  display: block;
  font-size: 24px; }

.post-author-thumbnail {
  height: 48px;
  margin-right: 5px;
  width: 48px; }

.post-author-thumbnail-large {
  height: 96px;
  width: 96px; }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    .post-title {
      font-size: 36px; } }

.post-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    .post-subtitle {
      font-size: 36px; } }

post-image-section {
  text-align: center; }
  post-image-section img {
    display: block;
    margin: 30px auto; }
  post-image-section .post-image-caption {
    font-size: 13.5px; }

a.post-title {
  color: #000; }
  a.post-title:hover {
    color: #00b140;
    text-decoration: none; }

/**
* Single Post
*/
.post {
  margin-top: 30px; }

.post-content {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Droid Serif", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .post-content {
      font-size: 18px; } }
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    margin-top: 60px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 768px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 768px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 768px) {
      .post-content h4 {
        font-size: 18px; } }

hr.section-divider {
  display: block;
  border: 0;
  text-align: center;
  margin-bottom: 42px;
  margin-top: 52px; }
  hr.section-divider:before {
    color: rgba(0, 0, 0, 0.6);
    content: "...";
    display: inline-block;
    font-family: "Droid Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 0.6em;
    margin-left: 0.6em;
    position: relative;
    top: -30px; }

/**
* Posts List Summary
*/
.posts-summary-list-item {
  margin-bottom: 60px; }

.posts-summary-list-title {
  color: #00b140;
  font-size: 22.5px;
  font-weight: 400; }

.posts-summary-posts-list {
  margin-left: 0; }
  .posts-summary-posts-list li {
    list-style: none; }
  .posts-summary-posts-list .posts-summary-posts-list-item {
    margin-bottom: 30px; }
    .posts-summary-posts-list .posts-summary-posts-list-item a {
      color: #000;
      font-weight: 700; }

.post-author-container {
  margin-bottom: 10px; }

.post-author-details {
  display: inline-block; }
  .post-author-details .posts-summary-list-title {
    margin-bottom: 0; }

.post-author-link > a {
  margin-left: 57px;
  font-size: 15.75px;
  color: #565d6b; }

.posts-search-results {
  margin-top: 30px; }

/**
* Archive Page
*/
.archive .archive-heading-banner {
  background-color: #00b140;
  color: #fff;
  margin-top: -30px;
  padding: 15px 0; }
.archive .page-heading {
  font-size: 36px; }

/**
* Site header
*/
.site-header {
  border-bottom: 1px solid #ccd6dd;
  position: relative; }
  .site-header .social-media-list {
    margin-top: 10px; }
    .site-header .social-media-list li {
      margin-left: 15px;
      margin-right: 0; }

.site-title-wrapper {
  height: 60px;
  margin: 20px auto 10px; }
  .site-title-wrapper .site-title-wrapper-inner {
    height: 100%; }
  @media screen and (max-width: 768px) {
    .site-title-wrapper {
      margin: 10px auto; } }

.site-title {
  background-image: url("/img/grab-logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 96px; }

.site-subtitle {
  color: #898d97;
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  padding-left: 5px;
  padding-top: 12px;
  vertical-align: top; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #ccd6dd;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #565d6b; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

.site-search {
  align-items: center;
  display: flex;
  height: 100%; }

.nav-category {
  margin: 0; }
  .nav-category li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px; }
    .nav-category li:first-child {
      padding-left: 0; }
    @media screen and (max-width: 768px) {
      .nav-category li {
        font-size: 13.5px; } }

/**
* Site footer
*/
.site-footer {
  background-color: #363a45;
  color: #fff;
  padding: 30px 0; }
  .site-footer .social-media-list a {
    color: #fff; }
  .site-footer .btn {
    color: #fff;
    border-color: #fff; }
  .site-footer .hiring-section {
    text-align: right; }
    @media screen and (max-width: 768px) {
      .site-footer .hiring-section {
        text-align: left; } }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.footer-col-wrapper {
  font-size: 15px;
  color: #898d97;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 768px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 768px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
.tags-page .tags-list {
  margin-bottom: 40px; }

.tags-label {
  padding: 0.3em 0.6em;
  background: none;
  border: 1px solid #488be4;
  color: #488be4; }
  .tags-label:hover {
    background-color: #488be4;
    color: #fff; }

.social-media-list {
  list-style: none;
  margin-left: 0; }
  .social-media-list li {
    display: inline-block;
    margin-right: 10px; }
    .social-media-list li a {
      color: #565d6b; }

.btn.btn-share {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif; }
  .btn.btn-share, .btn.btn-share:focus, .btn.btn-share:active {
    border: none;
    color: #fff; }
  .btn.btn-share.btn-share-twitter {
    background-color: #55acee; }
    .btn.btn-share.btn-share-twitter:hover {
      background-color: #2795e9; }
  .btn.btn-share.btn-share-facebook {
    background-color: #3b5998; }
    .btn.btn-share.btn-share-facebook:hover {
      background-color: #2d4373; }
  .btn.btn-share.btn-share-linkedin {
    background-color: #0077b5; }
    .btn.btn-share.btn-share-linkedin:hover {
      background-color: #005582; }

.hiring-panel .hiring-tagline {
  line-height: 34px;
  margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .hiring-panel .hiring-tagline {
      text-align: center; } }
.hiring-panel .hiring-btn-container {
  text-align: right; }
  @media screen and (max-width: 768px) {
    .hiring-panel .hiring-btn-container {
      text-align: center; } }

/**
* Syntax highlighting styles
*/
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.video-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .video-container .video-frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
