---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Sanomat Sans', Helvetica, Arial, sans-serif;
$base-font-family-serif: 'Droid Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #009d3b;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "fonts",
  "base",
  "layout",
  "header",
  "footer",
  "social-media-list",
  "syntax-highlighting"
;
