language: ruby
rvm:
- 2.6.1
cache: bundler
branches:
  only:
  - master
before_install:
- gem install bundler -v 2.4.22 
install:
- bundle install
script:
- git config --global user.email "travis@travis-ci.org"
- git config --global user.name "Travis CI"
- JEKYLL_ENV=production jgd -u https://$GH_TOKEN@github.com/grab/engineering-blog.git
