---
layout: default
title: Authors
---
{% assign authors = site.data.authors | sort %}
<div class="authors-page">
  <h1 class="page-heading">Authors</h1>
  <div>
    {% for author_data in authors %}
      {% assign author_id = author_data[0] %}
      {% assign author = author_data[1] %}
      <div class="posts-summary-list-item" id="{{ author_id | slugify }}">
        <div class="post-author-container">
          <img class="post-author-thumbnail img-circle" src="{{ author.thumbnail }}"/>
          <div class="post-author-details">
            <h3 class="posts-summary-list-title">{{ author.name }}</h3>
          </div>
        </div>
        <ul class="posts-summary-posts-list">
          {% for post in author.posts %}
            <li class="posts-summary-posts-list-item">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <small class="post-date">{{ post.date | date: site.post.date_format }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
