---
layout: default
---
<div class="wrapper">
  <div class="home">
    {% include posts-list.html posts=paginator.posts %}
    <hr>
    <br>
    <!-- Pagination links -->
    <div class="row">
      <div class="col-xs-4">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="btn previous">Prev</a>
        {% endif %}
      </div>
      <div class="col-xs-4 text-center">
        <p>{{ paginator.page }} of {{ paginator.total_pages }}</p>
      </div>
      <div class="col-xs-4 text-right">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="btn next">Next</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
