---
layout: default
title: Tag
---
{% assign tags = site.tags | sort %}
{% assign sorted_tags = "" | split: "," %}
{% assign letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split:"" %}

<!-- Sort tags case insensitive -->
{% for tag in tags %}
  {% assign sorted_tags = sorted_tags | push: tag[0] %}
{% endfor %}
{% assign sorted_tags = sorted_tags | sort_natural %}

<div class="tags-page">
  <div class="heading-banner">
    <div class="wrapper">
      <h1 class="page-heading">Tags</h1>
    </div>
  </div>

  <div class="wrapper">
    <br/>
    <div class="tags-list">
      {% for letter in letters %}
        <div class="row letter-row">
          <div class="col-md-2 col-sm-12">
            <h2 class="tags-letter">{{ letter }}</h2>
          </div>
          <div class="col-md-10 col-sm-12">
            {% assign col1 = "" | split: "," %}
            {% assign col2 = "" | split: "," %}
            {% assign col3 = "" | split: "," %}
            {% assign col4 = "" | split: "," %}
            {% assign index = 0 %}
            
            {% for tag in sorted_tags %} 
              {% assign first_letter = tag | capitalize | slice: 0 %}
              {% if first_letter == letter  %}
                {% assign index = index | plus: 1 %}
                {% assign mod = index | modulo: 4 %}

                {% if mod == 1 %}
                  {% assign col1 = col1 | push: tag %}
                {% elsif mod == 2 %}
                  {% assign col2 = col2 | push: tag %}
                {% elsif mod == 3 %}
                  {% assign col3 = col3 | push: tag %}
                {% elsif mod == 0 %}
                  {% assign col4 = col4 | push: tag %}
                {% endif %}
              
              {% endif %}
            {% endfor %}

            <!-- ==== -->
            <div class="row">
              <div class="col-md-3 tags-col" style="border: 1px solid blue">
                {% for tag in col1 %}
                  <a href="#{{ tag[0] | slugify }}" class="label tags-label">{{ tag }}</a>
                {% endfor %}
              </div>
              <div class="col-md-3 tags-col" style="border: 1px solid red">
                {% for tag in col2 %}
                  <a href="#{{ tag[0] | slugify }}" class="label tags-label">{{ tag }}</a>
                {% endfor %}
              </div>
              <div class="col-md-3 tags-col" style="border: 1px solid aqua">
                {% for tag in col3 %}
                  <a href="#{{ tag[0] | slugify }}" class="label tags-label">{{ tag }}</a>
                {% endfor %}                    
              </div>
              <div class="col-md-3 tags-col" style="border: 1px solid orange">
                {% for tag in col4 %}
                  <a href="#{{ tag[0] | slugify }}" class="label tags-label">{{ tag }}</a>
                {% endfor %}
              </div>
          </div>
          <!-- === -->
          </div>
        </div>
      {% endfor %}
    </div>
       

     
    <br/>
    <div>
      {% for tag in tags %}
        <div class="posts-summary-list-item">
          <h3 class="posts-summary-list-title" id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
          <ul class="posts-summary-posts-list">
            {% for post in tag[1] %}
              <li class="posts-summary-posts-list-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <small class="post-date">{{ post.date | date: site.post.date_format }}</small>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
