<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">
      <a href="{{ site.url }}" target="_blank">{{ site.title }}</a>
    </h2>
    <div class="row">
      <div class="col-md-6">
        <ul class="contact-list">
          <li>Reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
         {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
              <i class="fa fa-facebook-square fa-2x"></i>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
              <i class="fa fa-rss fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
