<footer class="site-footer">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
          <li>Reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        {% include social-media-list.html %}
      </div>
      <div class="col-md-6 hiring-section">
        <h2 class="footer-heading">Join Us</h2>
        <p class="text">
          Want to join us in our mission to revolutionize transportation?
        </p>
        <a class="btn" href="https://grab.careers" target="_blank">Check out our engineering jobs</a>
      </div>
    </div>
  </div>
</footer>
