<ul class="post-list">
  {% assign posts = include.posts %}
  {% for post in posts %}
    <li>
      <div class="row">
        <div class="col-md-12">
          {% if post.cover_photo %}
            <img src="{{ post.cover_photo }}" class="cover-photo" alt="{{ post.title }} cover photo">
          {% endif %}
          <h2>
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="post-content">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          {% assign authors = post.authors %}
          {% for author_id in post.authors %}
            {% assign author = site.data.authors[author_id] %}
            {% if author %}
              <img class="post-author-thumbnail img-circle" src="{{ author.thumbnail }}">
            {% endif %}
          {% endfor %}
          <div class="post-meta-container">
            <span class="post-author">
              {% for author_id in post.authors %}
                {% assign author = site.data.authors[author_id] %}
                {% if author %}
                  {% if author_id != post.authors.first %}
                    &middot;
                  {% endif %}
                  <a href="/authors#{{ author_id }}">{{ author.name }}</a>
                {% endif %}
              {% endfor %}
            </span>
            <span class="post-date">{{ post.date | date: site.post.date_format }}</span>
          </div>
        </div>
        <div class="col-xs-4 text-right">
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn">Read more</a>
        </div>
      </div>
      <div>
        <br/>
        {% if post.tags %}
          {% include tags.html tags=post.tags %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
