{%- assign author_count = include.authors | size -%}
{%- assign remaining_author_count = author_count | minus: 2 -%}
{%- for author_id in include.authors limit:2 -%}
  {%- assign author = site.data.authors[author_id] -%}
  {%- if author -%}
    <img class="post-author-thumbnail" src="{{ author.thumbnail }}" alt="{{ author.name }}">
  {%- endif -%}
{%- endfor -%}
{%- if remaining_author_count > 0 -%}
  <span class="post-author-thumbnail-more" aria-label="{{ remaining_author_count }} additional {% if remaining_author_count == 1 %}author{% else %}authors{% endif %}">+{{ remaining_author_count }}</span>
{%- endif -%}
