{%- assign author_count = include.authors | size -%}
{%- assign display_limit = include.limit | default: 2 -%}
{%- if display_limit > author_count -%}
  {%- assign display_limit = author_count -%}
{%- endif -%}
{%- assign remaining_author_count = author_count | minus: display_limit -%}
{%- assign total_author_items = display_limit -%}
{%- if remaining_author_count > 0 -%}
  {%- assign total_author_items = total_author_items | plus: 1 -%}
{%- endif -%}
{%- assign penultimate_author_item = total_author_items | minus: 1 -%}
{%- for author_id in include.authors limit:display_limit -%}
  {%- assign author = site.data.authors[author_id] -%}
  {%- if author -%}
    <a href="/authors#{{ author_id }}">{{ author.name }}</a>{%- unless forloop.index == total_author_items -%}{%- if total_author_items == 2 -%}{{- ' and ' -}}{%- elsif forloop.index == penultimate_author_item -%}{{- ', and ' -}}{%- else -%}{{- ', ' -}}{%- endif -%}{%- endunless -%}
  {%- endif -%}
{%- endfor -%}
{%- if remaining_author_count > 0 -%}
  <span class="post-author-more">{{ remaining_author_count }} {% if remaining_author_count == 1 %}other{% else %}others{% endif %}</span>
{%- endif -%}
