<div class="blog-search" id="blog-search-container">
  <form action="/search.html" role="search" class="search-form" id="blog-search-form">
    <div class="search-icon" aria-hidden="true"></div>
    <input
      type="search"
      name="q"
      id="blog-search-input"
      class="search-text"
      placeholder="Search..."
      autocomplete="off"
      aria-autocomplete="list"
      aria-controls="blog-search-dropdown"
      aria-expanded="false"
      aria-label="Search articles"
    >
    <button type="submit" class="search-submit" aria-label="Search all article content">
      <i class="fa fa-chevron-right"></i>
    </button>
  </form>
  <div id="blog-search-dropdown" class="blog-search-dropdown" role="listbox" hidden></div>
</div>
