<!-- <form action="/search.html" method="get">
  <div class="input-group">
    <input type="text" id="search" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button class="btn" type="submit"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>
-->

<form action="/search.html" role="search" class="search-form">
  <input type="submit" value="" class="search-submit"> 
  <input type="search" name="q" class="search-text" placeholder="Search...">
</form>
    
