<ul class="social-media-list">
  {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.social_media.github }}" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
  {% endif %}
  {% if site.facebook_username %}
    <li>
      <a href="https://facebook.com/{{ site.social_media.facebook }}" target="_blank">
        <i class="fa fa-facebook-square fa-2x"></i>
      </a>
    </li>
  {% endif %}
  {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.social_media.twitter }}" target="_blank">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
      <i class="fa fa-rss fa-2x"></i>
    </a>
  </li>
</ul>
