<ul class="social-media-list">
  {% if site.social_media.github %}
    <li>
      <a href="https://github.com/{{ site.social_media.github }}" target="_blank">
        <i class="fa fa-github fa-lg"></i>
      </a>
    </li>
  {% endif %}
  {% if site.social_media.facebook %}
    <li>
      <a href="https://facebook.com/{{ site.social_media.facebook }}" target="_blank">
        <i class="fa fa-facebook-square fa-lg"></i>
      </a>
    </li>
  {% endif %}
  {% if site.social_media.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.social_media.twitter }}" target="_blank">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.url }}" target="_blank">
      <i class="fa fa-rss fa-lg"></i>
    </a>
  </li>
</ul>
