<ul class="social-media-list">
  {% if site.social_media.github %}
    <li>
      <a href="https://github.com/{{ site.social_media.github }}" target="_blank" rel="nofollow noreferrer">
        <i class="fa fa-github fa-lg"></i>
      </a>
    </li>
  {% endif %}
  {% if site.social_media.linkedin %}
    <li>
      <a href="https://www.linkedin.com/company/{{ site.social_media.linkedin }}" target="_blank" rel="nofollow noreferrer">
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.url }}" target="_blank">
      <i class="fa fa-rss fa-lg"></i>
    </a>
  </li>
</ul>
