@-webkit-keyframes border-transform {
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
  }
  
  .progress-wrap {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;

  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    &:hover {
      background-color: white;
    }
    
    .btt-btn {
        visibility: visible;
    }
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path {
    fill: none;
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: $brand-primary-color;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

.btt-btn {
    position: absolute;
    font-size: 25px;
    left: 0px;
    margin: 10px 0 0 12px;
    color: $grey-color-light;
    visibility: hidden;
    
    &:hover {
        color: $brand-primary-color;
        animation: spin-animation 0.3s 1;
    }
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

  