@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 300;
  src: url('../fonts/SanomatSans-Light-Web.woff');
}

@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 400;
  src: url('../fonts/SanomatSans-Regular-Web.woff');
}

@font-face {
  font-family: 'Sanomat Sans';
  font-weight: 500;
  src: url('../fonts/SanomatSans-Medium-Web.woff');
}
