@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../fonts/Inter-Light.woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter-Medium.woff');
}
