@font-face {
  font-family: "Grab Community Solid EN";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/grab-community/GrabCommunitySolidEN-Light.woff2")
      format("woff2"),
    url("../fonts/grab-community/GrabCommunitySolidEN-Light.woff")
      format("woff");
}

@font-face {
  font-family: "Grab Community Solid EN";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/grab-community/GrabCommunitySolidEN-Regular.woff2")
      format("woff2"),
    url("../fonts/grab-community/GrabCommunitySolidEN-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Grab Community Solid EN";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/grab-community/GrabCommunitySolidEN-Medium.woff2")
      format("woff2"),
    url("../fonts/grab-community/GrabCommunitySolidEN-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Grab Community Solid EN";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/grab-community/GrabCommunitySolidEN-Bold.woff2")
      format("woff2"),
    url("../fonts/grab-community/GrabCommunitySolidEN-Bold.woff") format("woff");
}

@font-face {
  font-family: "Grab Community Solid EN";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/grab-community/GrabCommunitySolidEN-Extrabold.woff2")
      format("woff2"),
    url("../fonts/grab-community/GrabCommunitySolidEN-Extrabold.woff")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff");
}
