/**
* Site header
*/
.site-header {
  border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: relative;


  .social-media-list {
    margin-top: 10px;

    li {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.site-title-wrapper {
  height: 60px;
  margin: 10px auto 5px;

  .site-title-wrapper-inner {
    height: 100%;
  }

  @include media-query($on-palm) {
    margin: 10px auto;
  }
}

.site-title {
  background-image: url('/img/grab-logo.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 96px;
}

.site-subtitle {
  color: $grey-color;
  display: inline-block;
  font-size: 22px;
  font-weight: $font-weight-light;
  padding-left: 5px;
  padding-top: 12px;
  vertical-align: top;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

.site-search {
  align-items: center;
  display: inline-block;
  height: 100%;
}

.nav-category {
  margin: 0;
  display: inline-block;
  vertical-align: top;

  li {
    display: inline-block;
    list-style: none;
    padding: 15px 15px;

    &:first-child {
      padding-left: 0;
    }

    @include media-query($on-palm) {
      font-size: $tiny-font-size;
    }
  }
}

/**
* Search bar
*/

form {
  margin-left: -50px;
}

.search-icon {
	position:absolute;
	z-index:6;
	transition: z-index 0.8s, width 0.5s, border 0.3s;
	height: 45px;
	width: 0;
	margin: 4px 0 0 50px;
	padding: 5px 0 5px 40px;
	font-size: 16px;
	font-size: 1.5rem;
	cursor: pointer;
  pointer-events: none;
	border-radius: 30px;
	border: 1px solid transparent;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MDMuODY2LDQ3Ny45NzRMMzYwLjk1OCwzMzUuMDUyYzI4LjcyNS0zNC41NDQsNDYuMDE3LTc4LjkxMiw0Ni4wMTctMTI3LjMzNiAgYzAtMTEwLjA4NC04OS4yMjctMTk5LjMxMi0xOTkuMzEyLTE5OS4zMTJDOTcuNTk5LDguNDAzLDguMzUxLDk3LjYzMSw4LjM1MSwyMDcuNzE1YzAsMTEwLjA2NCw4OS4yNDgsMTk5LjMxMiwxOTkuMzEyLDE5OS4zMTIgIGM0OC40MzUsMCw5Mi43OTItMTcuMjkyLDEyNy4zMzYtNDYuMDE3bDE0Mi45MDgsMTQyLjkyMkw1MDMuODY2LDQ3Ny45NzR6IE0yOS4zMzEsMjA3LjcxNWMwLTk4LjMzNCw3OS45ODctMTc4LjMzMiwxNzguMzMyLTE3OC4zMzIgIGM5OC4zMjUsMCwxNzguMzMyLDc5Ljk5OCwxNzguMzMyLDE3OC4zMzJzLTgwLjAwNywxNzguMzMyLTE3OC4zMzIsMTc4LjMzMkMxMDkuMzE4LDM4Ni4wNDcsMjkuMzMxLDMwNi4wNSwyOS4zMzEsMjA3LjcxNXoiIGZpbGw9IiMzNzQwNEQiLz48L3N2Zz4=) no-repeat left 9px center transparent;
  background-size:24px;
}

input.search-text {
	color: $brand-primary-color;
	position:relative;
	z-index:5;
	transition: z-index 0.8s, width 0.5s, border 0.3s;
	height: 45px;
	width: 0;
	margin: 5px 0 0 50px;
	padding: 5px 0 5px 40px;
	box-sizing: border-box;
	font-size: 16px;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 30px;
	border: 1px solid transparent;
}

input.search-text:focus {
	z-index:3; 
	width: 250px;
	border: 1px solid $brand-primary-color;  
	background-color: white;
	outline: none;
	cursor:auto;
	padding-right: 10px;

  @include media-query($on-palm) {
    width: 160px;
  }

  &:not(:placeholder-shown) ~ .search-submit {
    visibility: visible;
  
    @include media-query($on-palm) {
      display: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: $brand-primary-color;
}

input.search-icon {
	position: relative;
	z-index: 4;
	top:8px;
	left: 49px;
	width: 45px;
	height: 45px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	border-radius: 30px;
	cursor: pointer; 
	background: none;
}

.search-submit {
  border: 0;
  position: absolute; 
  width: 14px;
  transition: 0.2s;
  margin: 15px 0px 0px -35px;
  z-index: 10;
  visibility: hidden;
  background: transparent;
  color: $grey-color-dark;
}


/**
* Hamburger navigation
*/

.hamburger-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding: 0;
  padding-left: 5px;
}

.menu-btn {
  display: inline-block;
  width: 28px;
  height: 4px;
  background: $brand-primary-color;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  margin-left: 10px;
}

.menu-btn::before, .menu-btn::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 4px;
  background: $brand-primary-color;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn::before {
  transform: translateY(-12px);
}

.menu-btn::after {
  transform: translateY(12px);
}

.hamburger-nav.open .menu-btn {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.hamburger-nav.open .menu-btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamburger-nav.open .menu-btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.mobile-menu-container {
  width: 100%;
  position: absolute;
  background: $brand-primary-color;
  z-index: 5;
  left: 0;
  transform: translateY(11px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.mobile-menu {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  li {
    width: 100%;
    padding: 10px;
    font-size: 1.8rem;
    list-style: none;
    text-align: center;
    
    a {
      color: #fff;
    }

    &:first-child {
      padding-top: 15px;
    }

    &:hover {

      background-color: #D9FCDE;

      a {
        color: $brand-primary-color; 
      }
    }
  }
}

.mobile-menu-container.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
