.hiring-panel {
  .hiring-tagline {
    line-height: 34px;
    margin-bottom: 0;

    @include media-query($on-palm) {
      text-align: center;
    }
  }

  .hiring-btn-container {
    text-align: right;

    @include media-query($on-palm) {
      text-align: center;
    }
  }
}
