html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/**
* Page content
*/
.page-content {
  flex: 1;
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $giant-font-size;
  margin: 30px 0;
}

/**
* Posts List
*/

$post-author-thumbnail-size: 48px;
$post-author-thumbnail-size-large: 58px;
$post-list-cover-photo-margin: 0 0 0 0;

.post-list, .archive-list {
  $post-spacing: 50px;

  font-size: 18px;
  line-height: 1.5;
  list-style: none;
  margin-left: 0;

  > li {
    &:not(:last-child) {
      border-bottom: 1px solid $grey-color-light;
    }
    &:first-child {
      margin: $post-spacing/2 auto;
    }
    margin: $post-spacing auto;
    padding-bottom: $post-spacing;

  }

  .cover-photo {
    margin: $post-list-cover-photo-margin;
    width: 100%;
    height: 240px;
    object-fit: fill;

    @include media-query($on-palm) {
      margin-bottom: 10px;
      height: 100%;
    }
  }
  .large-cover-photo {
    margin: $post-list-cover-photo-margin;
    width: 100%;
    height: 100%;
  }
}

.latest-post {
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: 25px;
}

.post-meta-container, .post-meta-text-container {
  display: inline-block;
}

.post-meta {
  color: $grey-color;
  display: block;
  font-weight: $font-weight-light;
  text-align: left;
  padding-top: $spacing-unit;
}

.post-cover-photo{
  width: 100%;
  margin-top: -$spacing-unit;
  padding-bottom: $spacing-unit;
}

.post-category {
  color: $grey-color;
  display: inline;
  font-weight: $font-weight-light;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;

}

.post-category:hover {
  color: $brand-primary-color;
}

.post-tags {
  margin-top: 10px;
}

.post-author-thumbnail-group {
  display: block;
}

.post-author {
  display: block;
  font-size: $small-font-size;
  padding-top: 5px;
}

.post-author-large {
  display: block;
  font-size: $base-font-size;
  padding-top: 5px;
}

.post-date {
  color: $grey-color;
  display: block;
  font-size: $tiny-font-size;
}

.post-date-large {
  color: $grey-color;
  display: block;
  font-size: $base-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-author-thumbnail {
  height: $post-author-thumbnail-size;
  margin-right: 5px;
  width: $post-author-thumbnail-size;
  vertical-align: top;

  @include media-query($on-palm) {
  
  }
}

.post-author-thumbnail-large {
  height: $post-author-thumbnail-size-large;
  margin-right: 5px;
  width: $post-author-thumbnail-size-large;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: $giant-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.2;

  @include media-query($on-palm) {
    font-size: 28px;
  }
}

.post-title-small {
  font-size: 30px;
  font-weight: $font-weight-bold;
  line-height: 1.2;

  @include media-query($on-palm) {
    font-size: 28px;
  }
}

.post-subtitle {
  font-size: 20px;
  font-weight: $font-weight-normal;
  line-height: 1.2;

  @include media-query($on-palm) {
    font-size: 36px;
  }
}

.post-image-section {
  text-align: center;

  img {
    display: block;
    margin: 30px auto;
  }

  .post-image-caption {
    font-size: $tiny-font-size;
  }
}

.post-quotations {
  text-align: center;
  font-size: 20px;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  color: $grey-color-light;
  margin-top: $spacing-unit * 1;
  margin-bottom: $spacing-unit * 1;
}


a.post-title,a.post-title-small {
  color: #000;

  &:hover {
    color: $brand-primary-color;
    text-decoration: none;
  }
}

.column {
  display: inline-block;
  width: 40%;
  padding: 0px;
  margin: 0 10px;

  img {
    display: block;
    margin: 30px auto;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/**
* Single Post
*/

.post {
  margin-top: 30px;
}

.post-content-container {
  max-width: -webkit-calc(700px - (#{$spacing-unit} * 2));
  max-width:         calc(700px - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

.post-content {
  color: rgba(0, 0, 0, 0.8);
  font-family: $base-font-family-serif;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  line-height: 1.78;
  margin-bottom: 5px;

  @include media-query($on-palm) {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit * 2;
  }

  h2 {
    font-size: 32px;

    @include media-query($on-palm) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-palm) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-palm) {
      font-size: 18px;
    }
  }
}

hr.section-divider {
  display: block;
  border: 0;
  text-align: center;
  margin-bottom: 42px;
  margin-top: 52px;

  &:before {
    color: rgba(0, 0, 0, 0.6);
    content: "...";
    display: inline-block;
    font-family: $base-font-family-serif;
    font-weight: $font-weight-normal;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 0.6em;
    margin-left: 0.6em;
    position: relative;
    top: -30px;
  }
}

/**
* Posts List Summary
*/

.posts-summary-list-item {
  margin-bottom: 60px;
}

.posts-summary-list-title {
  color: $brand-primary-color;
  font-size: $large-font-size;
  font-weight: $font-weight-normal;
}

.posts-summary-posts-list {
  margin-left: 0;

  li {
    list-style: none;
  }

  .posts-summary-posts-list-item {
    margin-bottom: 30px;

    a {
      color: #000;
      font-weight: $font-weight-bold;
    }
  }
}

.post-author-container {
  margin-bottom: 10px;
}

.post-author-details {
  display: inline-block;

  .posts-summary-list-title {
    margin-bottom: 0;
  }
}

.post-author-link > a {
  margin-left: $post-author-thumbnail-size + 9px;
  font-size: $small-font-size;
  color: $grey-color-dark;
}

.posts-search-results {
  margin-top: 30px;
}

/**
* Archive Page
*/

.archive {
  .archive-heading-banner {
    background-color: $brand-primary-color;
    color: #fff;
    margin-top: -$spacing-unit;
    margin-bottom: 50px;
    padding: $spacing-unit/2 0;
  }

  .page-heading {
    font-size: $giant-font-size;
  }
}
