// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin bordered-element($color) {
  background-color: none;
  border: 1px solid $color;
  color: $color;

  &:hover {
    background-color: $color;
    color: #fff;
  }
}
