.btn-share {
  $twitter-theme-color: #55acee;
  $facebook-theme-color: #3b5998;
  $linkedin-theme-color: #0077b5;
  $darken-amount: 10%;

  font-family: Helvetica, Arial, sans-serif;

  &,
  &:focus,
  &:active {
    border: none;
    color: #fff;
  }

  &.btn-share-twitter {
    background-color: $twitter-theme-color;

    &:hover {
      background-color: darken($twitter-theme-color, $darken-amount);
    }
  }

  &.btn-share-facebook {
    background-color: $facebook-theme-color;

    &:hover {
      background-color: darken($facebook-theme-color, $darken-amount);
    }
  }

  &.btn-share-linkedin {
    background-color: $linkedin-theme-color;

    &:hover {
      background-color: darken($linkedin-theme-color, $darken-amount);
    }
  }
}

