.tags-page {
  .tags-list {
    margin-bottom: 40px;
  }
}

.tags-page {
  .heading-banner {
    background-color: $brand-primary-color;
    color: #fff;
    margin-top: -$spacing-unit;
    padding: $spacing-unit/2 0;
  }

  .page-heading {
    font-size: $giant-font-size;
  }
}

.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.tags-label {
  padding: 0.3em 0.6em;
  max-width: 150px;
  overflow: auto;
  white-space: normal;
  text-align: left;
  @include bordered-element($brand-secondary-color);
}

.letter-row {
  display: flex;
  margin-bottom: $spacing-unit;
}

.tags-letter {
  color: $brand-primary-color;
  margin: 0;
}

.tags-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
