.tags-page {
  .tags-list {
    margin-bottom: 40px;
  }

  .tags-posts-section-list-item {
    margin-bottom: 40px;
  }

  .tags-section-title {
    font-size: $large-font-size;
  }

  .tags-posts-list {
    margin-left: 0;

    li {
      list-style: none;
    }

    .tags-posts-list-item {
      margin-bottom: 20px;
    }
  }
}

.tags-label {
  @include bordered-element($brand-secondary-color);
}
