.tags-page {
  .tags-list {
    margin-bottom: 40px;
  }

  .tags-label {
    color: $grey-color;
    border: none;
    font-weight: normal;
    font-size: 16px;
    padding: 0.5em 0.6em;
    min-height: 40px;
    line-height: 1.7rem;
    max-width: auto;

    &:hover {
      color: $brand-primary-color;
      background: none;
    }
  }
}

.tags-page {
  .heading-banner {
    background-color: $brand-primary-color;
    color: #fff;
    margin-top: -$spacing-unit;
    padding: $spacing-unit/2 0;
  }

  .page-heading {
    font-size: $giant-font-size;
  }
}

.letters-navigation {
  width: 100%;
  text-align: center;

  a {
    color: $grey-color;
    font-size: $large-font-size;
    margin: 0 6.4px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tags-label {
  padding: 0.3em 0.6em;
  max-width: 150px;
  overflow: auto;
  white-space: normal;
  text-align: left;
  @include bordered-element($brand-secondary-color);
}

.letter-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccd6dd;
  padding: $spacing-unit 0 $spacing-unit 0;

  @include media-query($on-palm) {
    display: block;
  }
}

.tags-letter {
  color: $brand-primary-color;
  margin-left: 8px;
}

.tags-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

// .tags-col-container {
//   display: flex;
// }

#tags-container {
  @include media-query($on-palm - 5px) {
    display: none;
  }
}
#tags-container-mobile {
  display: none;

  @include media-query($on-palm - 5px) {
    display: block;
  }
}
