.video-container {
  height: 0;
  padding-bottom: 56.25%; // Assuming a 16:9 video ratio
  position: relative;
  overflow: hidden;
  width: 100%;

  .video-frame {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
