{% assign authors = include.authors %}
{% assign author_count = authors.size %}
{% assign visible_author_count = 5 %}
{% assign hidden_author_count = author_count | minus: visible_author_count %}
{% assign author_name_class = 'post-author' %}
{% assign post_date_class = 'post-date' %}
{% if include.large %}
  {% assign author_name_class = 'post-author-large' %}
  {% assign post_date_class = 'post-date-large' %}
{% endif %}

{% if author_count > 3 %}
  {% if author_count > visible_author_count %}
    {% capture hidden_author_names %}
      {% for author_id in authors offset:visible_author_count %}
        {% assign author = site.data.authors[author_id] %}
        {% if author %}
          {{ author.name }}{% unless forloop.last %}, {% endunless %}
        {% endif %}
      {% endfor %}
    {% endcapture %}
    {% assign hidden_author_names = hidden_author_names | strip_newlines | strip %}
    {% capture hidden_author_list %}
      <ul class="post-authors-popover-list">
        {% for author_id in authors offset:visible_author_count %}
          {% assign author = site.data.authors[author_id] %}
          {% if author %}
            <li>{{ author.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endcapture %}
  {% endif %}

  <div class="post-authors-row post-authors-row--many">
    <div class="post-avatar-stack">
      {% for author_id in authors limit:visible_author_count %}
        {% assign author = site.data.authors[author_id] %}
        {% if author %}
          <button type="button"
                  class="post-avatar-trigger"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-trigger="hover focus"
                  aria-label="{{ author.name | escape }}"
                  title="{{ author.name | escape }}">
            <img class="post-avatar-stacked img-circle"
                 src="{{ author.thumbnail }}"
                 alt="">
          </button>
        {% endif %}
      {% endfor %}
      {% if author_count > visible_author_count %}
        <button type="button"
                class="post-avatar-overflow"
                data-toggle="popover"
                data-placement="top"
                data-trigger="hover focus"
                data-html="true"
                data-content="{{ hidden_author_list | strip_newlines | escape }}"
                aria-label="Show {{ hidden_author_count }} more authors: {{ hidden_author_names | escape }}"
                title="More authors">+{{ hidden_author_count }}</button>
      {% endif %}
    </div>
    <div class="post-authors-meta">
      <span class="{{ author_name_class }}">
        {% for author_id in authors limit:visible_author_count %}
          {% assign author = site.data.authors[author_id] %}
          {% if author %}
            {% if forloop.index > 1 %}<span class="post-author-separator" aria-hidden="true">&middot;</span>{% endif %}
            <a href="/authors#{{ author_id }}">{{ author.name }}</a>
          {% endif %}
        {% endfor %}
        {% if author_count > visible_author_count %}
          <button type="button"
                  class="post-authors-more"
                  data-toggle="popover"
                  data-placement="top"
                  data-trigger="hover focus"
                  data-html="true"
                  data-content="{{ hidden_author_list | strip_newlines | escape }}"
                  aria-label="Show {{ hidden_author_count }} more authors: {{ hidden_author_names | escape }}"
                  title="More authors"><span class="post-author-separator" aria-hidden="true">&middot;</span> +{{ hidden_author_count }} more</button>
        {% endif %}
      </span>
      <span class="{{ post_date_class }}">{{ include.date | date: site.post.date_format }} <span class="post-read-time-badge">{{ include.content | read_time }}</span></span>
    </div>
  </div>
{% else %}
  <div class="post-authors-row">
    {% for author_id in authors %}
      {% assign author = site.data.authors[author_id] %}
      {% if author %}
        {% if forloop.index > 1 %}<span class="post-author-separator" aria-hidden="true">&middot;</span>{% endif %}
        <div class="post-author-chip">
          <button type="button"
                  class="post-author-chip-avatar-trigger"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-trigger="hover focus"
                  aria-label="{{ author.name | escape }}"
                  title="{{ author.name | escape }}">
            <img class="post-author-chip-avatar img-circle"
                 src="{{ author.thumbnail }}"
                 alt="">
          </button>
          <a class="{{ author_name_class }}" href="/authors#{{ author_id }}">{{ author.name }}</a>
        </div>
      {% endif %}
    {% endfor %}
    <span class="post-author-separator" aria-hidden="true">&middot;</span>
    <span class="{{ post_date_class }}">{{ include.date | date: site.post.date_format }} <span class="post-read-time-badge">{{ include.content | read_time }}</span></span>
  </div>
{% endif %}
