{% assign authors = include.authors %}
{% assign author_name_class = 'post-author' %}
{% assign post_date_class = 'post-date' %}
{% if include.large %}
  {% assign author_name_class = 'post-author-large' %}
  {% assign post_date_class = 'post-date-large' %}
{% endif %}

<div class="post-authors-row">
  {% for author_id in authors %}
    {% assign author = site.data.authors[author_id] %}
    {% if author %}
      <div class="post-author-chip">
        <button type="button"
                class="post-author-chip-avatar-trigger"
                data-toggle="tooltip"
                data-placement="top"
                data-trigger="hover focus"
                aria-label="{{ author.name | escape }}"
                title="{{ author.name | escape }}">
          <img class="post-author-chip-avatar img-circle"
               src="{{ author.thumbnail }}"
               alt="">
        </button>
        <a class="{{ author_name_class }}" href="/authors#{{ author_id }}">{{ author.name }}</a>
      </div>
    {% endif %}
  {% endfor %}
  <span class="post-author-separator" aria-hidden="true">&middot;</span>
  <span class="{{ post_date_class }}">{{ include.date | date: site.post.date_format }} <span class="post-read-time-badge">{{ include.content | read_time }}</span></span>
</div>
