{% assign drawing = site.data.grab_logo_drawing %}
{% assign speed = drawing.speed | default: 1 %}
{% assign logo_duration = drawing.traceFadeAfter | plus: drawing.traceFadeDuration | divided_by: speed %}
<div
  id="site-loader"
  class="site-loader"
  aria-hidden="true"
  data-logo-duration="{{ logo_duration }}"
>
  <canvas class="site-loader__aurora" id="site-loader-aurora" aria-hidden="true"></canvas>
  <div class="site-loader__logo" aria-hidden="true">
    {% include components/grab-logo-drawing.html %}
  </div>
</div>
